body {
    font-family: system-ui;
  /*   background: linear-gradient(to bottom,
      orange,
      darken(yellow, 15%)
    ); */
  background: linear-gradient(45deg, red, orange);
    padding: 0px 60px;
  /*   color: white;
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center; */
  }
  
  img {
    height: 20%;
      width: 20%;
  }